button {
    display: block;
    margin: 1rem auto 2rem;
    width: 5rem;
}

.container {
    display: grid;
    max-width: 960px;
    height: 98vh;
    grid-template-columns: repeat(16, 3rem);
    grid-auto-rows: minmax(3rem, auto);
    justify-content: center;
    margin: 0 auto;
    border: 1px solid black;
}

.square-div {
    background-color: white;
}