button {
    display: block;
    margin: 1rem auto 0;
    width: 5rem;
}

.container {
    display: grid;
    height: 98vh;
    grid-template-columns: repeat(16, 3rem);
    grid-auto-rows: minmax(3rem, auto);
    justify-content: center;
    align-content: center;
}

.square-div {
    border: 1px solid black;
}